@model MidtermExam2.Models.ItemRepository
}
{
	Layout = null;
}
<!DOCTYPE html>

<html>
<head>
	<meta name="viewort" content="width=device-width" />
	<title>Midterm</title>
</head>
<body>
	<h1>This is the Index action of the HomeController</h1>
	<table>
		<tr><td>Enter info</td><td>@Model.</td></tr>
	</table>
</body>
</html>
	
